export(estimateGraph,
estimateGraphFixLO,
estimateGraphFixFast,
estimateGraphSob,
estimateGraphRBD,
kmPredictWrapper,
MLoptimConstrained,
plotDeltaJumps,
plotGraphChange,
plotiGraph,
plotManipulate,
plotTk,
simAdd,
threshold,
totalIndex,
yhat)

## (internal comment:)
## not exported: modify.graph, LogLConstrained, Rfunc, rfunc, paramVect2List, paramList2Vect
